h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  color: #434455;
  margin: 0;
}
a {
  text-decoration: none;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
img {
  display: block;
  max-width: 100%;
}
button {
  cursor: pointer;
}
textarea {
  resize: none;
}

/* css headr */
.header-page {
  position: sticky;
  top: 0;
  z-index: 999;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  background: #fff;
}

.header-nav {
  display: flex;
  align-items: center;
}

.container-nav {
  display: flex;
  align-items: center;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
  padding: 25.5px 0;
}

.logo-styles-header {
  color: #2e2f42;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.nav-item-link {
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-item-link.active::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}
.nav-item-link.active {
  color: #404bbf;
}
.nav-item-link:hover,
.nav-item-link:active,
.nav-item-link:focus {
  color: #404bbf;
}
.contacts {
  margin-left: auto;
  display: flex;
  align-items: center;
  font-style: normal;
  gap: 40px;
}
.contacts-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}
/*    end-css-headr */
/*
*/
/* main-hero*/
.hero {
  background-color: #2e2f42;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  padding: 188px 0;
  max-width: 1440px;
  height: 600px;
  margin: 0 auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.hero-title {
  /* font-family: 'Roboto', sans-serif; */
  font-weight: 700;
  font-size: 56px;
  line-height: 107%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 496px;
  margin: auto;
}

.hero-bth {
  display: block;
  border: none;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  margin-top: 48px;
  margin-right: auto;
  margin-left: auto;
  padding: 16px 32px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-bth:hover,
.hero-bth:focus {
  background: #404bbf;
}
/*  tnd-main-hero */

/* main-feature */
.feature {
  padding-top: 120px;
  padding-bottom: 120px;
}
.box-icon {
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  background: #f4f4fd;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}
.icon-feature {
  fill: #4d5ae5;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.feature-list {
  display: flex;
  gap: 24px;
}

.feature-item {
  width: calc((100% - 24px * 3) / 4);
}

.feature-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 8px;
}

.feature-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}
/*  end-main-feature */

/* main-our-team */

.ourteam {
  background: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}

.ourteam-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.ourteam-list {
  display: flex;
  gap: 24px;
}

.ourteam-item {
  display: flex;
  background-color: #fff;
  justify-content: center;
  text-align: center;

  flex-direction: column;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0 0 4px 4px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: calc((100% - 24px * 3) / 4);
}

.ourteam-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.container-content {
  padding: 32px 0;
}

.ourteam-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 8px;
}

.ourteam-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  text-transform: capitalize;
  margin-bottom: 0;
}

.list-icon-links {
  display: flex;

  justify-content: center;
  align-items: center;
  gap: 24px;
  padding-top: 8px;
}
.icon-link {
  height: 100%;
  width: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-link:hover,
.icon-link:focus {
  background-color: #404bbf;
}
.icon-item {
  width: 40px;
  height: 40px;
}
.icon-team {
  fill: #f4f4fd;
}
/* end-main-our-team */

/* main-our-portfolio */
.our-portfolio {
  padding: 120px 0;
}

.portfolio {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.portfolio-item {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card {
  max-width: 360px;
  padding: 32px 16px;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-title {
  margin-bottom: 8px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.portfolio-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}

.img-wrapper {
  position: relative;
  overflow: hidden;
  width: 360px;
  height: 300px;
}
.overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  width: 100%;
  height: 100%;
  background: #4d5ae5;
  padding: 40px 32px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover .overlay-text {
  transform: translateY(0%);
}
/* end-main-our-portfolio*/
/*  END-MAIN */

/* footer */

.footer {
  background: #2e2f42;
  padding: 100px 0;
}
.container-footer {
  display: flex;
  align-items: baseline;
}

.container-text {
  margin-right: 120px;
}
.footer-logo {
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-bottom: 16px;
}

.logo-styles {
  color: #f4f4fd;
}

.footer-text {
  max-width: 264px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.social-media {
  margin-right: 80px;
}

.subscribe-wrap {
  display: flex;
  flex-direction: column;
}
.subscribe-heading {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.list-icon-links-footer {
  display: flex;
  gap: 16px;
}
.footer-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}
.icon-item-footer {
  width: 40px;
  height: 40px;
}
.icon-link-footer {
  height: 100%;
  width: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-link-footer:hover,
.icon-link-footer:focus {
  background-color: #31d0aa;
}

.icon-footer {
  fill: #f4f4fd;
}
/* end-footer  */
/* #region e-mail-input */

.e-mail-input {
  display: flex;
  align-items: flex-end;
  gap: 24px;
}
.form-field {
  display: flex;
  gap: 16px;
  flex-direction: column;
}
.form-label {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #fff;
}
.form-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 200%;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.form-input {
  background-color: transparent;
  padding-left: 16px;
  border: 1px solid #fff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
}
.form-input:hover,
.form-input:focus,
.form-input:active {
  border-color: #31d0aa;
}
.form-button {
  display: inline-flex;
  border: none;
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  background: #4d5ae5;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  cursor: pointer;
}
.form-button:hover,
.form-button:focus,
.form-button:active {
  background: #31d0aa;
}
.icon-telegram {
  fill: #fff;
  margin-left: 16px;
}
/* #endregion */

/* #region modal-overlay */

.modal-overlay {
  background: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* .modal-overlay.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
  transition-delay: 0ms;
} */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background: #fcfcfc;
  border-radius: 4px;
  width: 408px;
  min-height: 584px;
  padding: 72px 24px 24px 24px;
}

.modal-bth {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  cursor: pointer;
  color: #2e2f42;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-bth {
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-bth:hover,
.modal-bth:focus {
  background-color: #404bbf;
  border: none;
  color: #ffffff;
}
.modal-bth:hover .modal-close-bth,
.modal-bth:focus .modal-close-bth {
  fill: #ffffff;
}

.modal-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}
.form {
  padding: 0;
}

.modal-form {
  margin-bottom: 8px;
  gap: 8px;
}
.modal-form-label {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.modal-form-wraper {
  position: relative;
  display: block;
  margin-bottom: 16px;
}
.modal-form-icon {
  fill: #2e2f42;
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input {
  width: 100%;
  height: 40px;
  padding-left: 38px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #2e2f42;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input:focus {
  border-color: #4d5ae5;
}
.modal-form-input:focus + .modal-form-icon {
  fill: #4d5ae5;
}

.modal-form-desc {
  display: block;
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 12px;
  line-height: 1.17;
  color: rgba(46, 47, 66, 0.4);
  letter-spacing: 0.04em;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-commit {
  margin-bottom: 16px;
}
.modal-form-desc::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}
.modal-form-desc:focus {
  border-color: #4d5ae5;
}

.privacy-container {
  margin-bottom: 24px;
}

.checkbox {
}
.visually-hidden {
}
.user-privacy {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.custom-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  cursor: pointer;
  fill: transparent;
  background-color: transparent;
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.custom-checkbox-icon {
  fill: transparent;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.blu {
  line-height: 1.3;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}
.checkbox:focus + .user-privacy .custom-checkbox {
  border-color: #4d5ae5;
}
.checkbox:focus + .user-privacy .custom-checkbox .custom-checkbox-icon {
  fill: #4d5ae5;
}
.checkbox:checked + .user-privacy .custom-checkbox {
  border: none;
  background-color: #404bbf;
  fill: #f4f4fd;
}
.checkbox:checked + .user-privacy .custom-checkbox .custom-checkbox-icon {
  fill: #f4f4fd;
}
.send-btn {
  margin-top: 24px;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  color: #fff;
  display: block;
  align-items: center;
  border: none;
  min-width: 169px;
  height: 56px;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.send-btn:focus,
.send-btn:hover {
  background-color: #404bbf;
}
/* #endregion */
