/* #region reset */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  color: #434455;
  margin: 0;
}
a {
  text-decoration: none;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* #endregion */
.hide {
  display: none;
}
.container {
  /* mobile screen */

  /* width: 100%; */
  max-width: 320px;
  margin: 0 auto;
  padding: 0 16px;
}
@media only screen and (min-width: 768px) {
  .container {
    /* tablet styles */
    max-width: 768px;
  }
}
@media only screen and (min-width: 1158px) {
  .container {
    /* desktop styles */
    max-width: 1158px;
    padding: 0 15px;
  }
}

@media only screen and (min-width: 1158px) {
  .footer {
    padding: 100px 0;
  }
  .container-footer {
    padding-left: 15px;
    padding-right: 15px;
    gap: 120px;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .footer-text {
    margin-bottom: 0;
  }
  .container-text {
    margin-right: 0;
    width: 264px;
  }
  .subscribe-wrap {
    margin-left: 0;
    width: auto;
  }
}
img {
  display: block;
  max-width: 100%;
}
button {
  cursor: pointer;
}
textarea {
  resize: none;
}

/* #region headr*/
.header-page {
  position: sticky;
  top: 0;
  z-index: 999;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  background: #fff;
}
/* @media only screen and (max-width: 767.98px) {
  .header-page {
    padding: 16px 0;
  }
} */
.header-nav {
  display: flex;
  align-items: center;
  flex: 1;
}
.mobil-menu-bth {
  background-color: transparent;
  border: none;
  margin-left: auto;
}

.container-nav {
  display: flex;
  align-items: center;
}
.burger-menu-icon {
  cursor: pointer;
}
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  padding: 25.5px 0;
}
@media only screen and (min-width: 768px) {
  .logo {
    display: flex;
    flex-grow: 0;
    margin-left: 0;
  }
}

.logo-styles-header {
  color: #2e2f42;
}
.contacts-link {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-list,
.contacts {
  display: none;
  font-style: normal;
}
@media only screen and (max-width: 767.98px) {
  .header-page .contacts,
  .contacts,
  .contacts-list {
    display: none !important;
  }
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
  .header-nav {
    display: flex;
    align-items: center;
  }
  .nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  .logo {
    padding: 24px 0;
    margin-right: 120px;
  }

  .nav-item-link {
    position: relative;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    display: block;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-item-link.active {
    position: relative;
    color: #404bbf;
  }
  .nav-item-link.active::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
  }
  .nav-item-link:hover,
  .nav-item-link:active,
  .nav-item-link:focus {
    color: #404bbf;
  }
  .header-page .contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 12px;
    margin-left: auto;
  }
  .contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: flex-end;
  }
}
@media only screen and (min-width: 1158px) {
  .logo {
    margin-right: 76px;
  }
  .contacts-list {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 40px;
    margin-left: auto;
  }
  .contacts {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    margin-left: auto;
  }

  .contacts-link {
    font-weight: 400;
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.nav-item-link.active {
  color: #404bbf;
}
.nav-item-link:hover,
.nav-item-link:active,
.nav-item-link:focus {
  color: #404bbf;
}

.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}

/*    #endregion */
/* #region mobil-menu */
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  overflow: scroll;
  z-index: 99999;
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  transform: translateX(0%);
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
@media (min-width: 767.98px) {
  .mobil-menu-bth {
    display: none;
  }
}
.mobile-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mobile-menu-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: solid 1px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover,
.modal-close:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.mobile-nav-page {
  margin-bottom: auto;
}

.mobile-nav-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mobile-nav-item-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-nav-item-link.active {
  color: #404bbf;
}

.mobile-address-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 48px;
}

.mobile-address-link {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobil-address-item:first-child .mobile-address-link {
  color: #404bbf;
}

.mobile-team-social-media {
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-team-social-media-list {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.mobile-team-social-media-img {
  fill: #f4f4fd;
}

.mobile-team-social-media-list-item {
  width: 40px;
  height: 40px;
  justify-content: center;
}

.mobile-team-social-media:hover,
.mobile-team-social-media:focus {
  background-color: #404bbf;
}

/* #endregion */

/*

*/
/* #region main-hero*/
.hero {
  background-color: #2e2f42;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/Dark-bg_sm.webp);
  padding: 72px 0;
  max-width: 100%;

  margin: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.hero-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 216px;
  margin: auto;
}
@media (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/Dark-bg_sm@2x.webp);
  }
}
@media only screen and (min-width: 768px) {
  .hero {
    padding: 112px 0;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/hero/Dark-bg_md.webp');
  }
  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin-bottom: 36px;
  }
}

@media only screen and (min-width: 768px) and (min-resolution: 192dpi),
  only screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/hero/Dark-bg_md@2x.webp');
  }
}

@media only screen and (min-width: 1158px) {
  .hero {
    padding: 188px 0;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/people-office.jpg');
  }
  .hero-title {
    margin-bottom: 48px;
  }
}

@media only screen and (min-width: 1158px) and (min-resolution: 192dpi),
  only screen and (min-width: 1158px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/people-office.jpg');
  }
}

.hero .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100%;
}

.hero-bth {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: none;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  margin-top: 48px;
  padding: 16px 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-bth:hover,
.hero-bth:focus {
  background: #404bbf;
}
/*  #endregion main-hero */

/* #region main-feature */

@media only screen and (max-width: 1158px) {
  .box-icon {
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background: #f4f4fd;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
    display: none;
  }
  .icon-feature {
    fill: #4d5ae5;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.feature-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px 24px;
  padding: 0;
  margin: 0;
}

.feature-item {
  max-width: 288px;
  /* width: calc((100% - 72px) / 1); */
}

.feature-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.feature-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}
@media only screen and (min-width: 768px) {
  .feature-item {
    max-width: 356px;

    width: calc((100% - 24px) / 2);
  }
  .feature-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    text-align: left;
  }
}
@media only screen and (min-width: 1158px) {
  .feature-item {
    max-width: 264px;

    width: calc((100% - 48px) / 3);
  }
  .feature-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
  }
  .feature-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2e2f42;
  }
  .box-icon {
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background: #f4f4fd;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
  }
  .icon-feature {
    fill: #4d5ae5;
  }
}

/*  #endregion main-feature */

/* #region main-our-team */

.ourteam {
  background: #f4f4fd;
}

.ourteam-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.ourteam-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px 24px;
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
}

.ourteam-item {
  max-width: 264px;
  display: flex;
  background-color: #fff;
  justify-content: center;
  text-align: center;

  flex-direction: column;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0 0 4px 4px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container-content {
  padding: 32px 0;
}
@media only screen and (min-width: 768px) {
  .ourteam-list {
    gap: 69px 24px;
  }
  .ourteam-item {
    width: calc((100% - 24px) / 2);
  }
}
@media only screen and (min-width: 1158px) {
  .ourteam-team {
    padding-top: 120px;
  }
  .ourteam-item {
    max-width: 264px;
    width: calc((100% - 48px) / 3);
  }

  .ourteam-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }
  .icon-link:hover {
    background-color: #404bbf;
  }
}

.ourteam-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 8px;
}

.ourteam-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  text-transform: capitalize;
  margin-bottom: 0;
}

.list-icon-links {
  display: flex;

  justify-content: center;
  align-items: center;
  gap: 24px;
  padding-top: 8px;
}
.icon-link {
  height: 100%;
  width: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* .icon-link:hover, */
.icon-link:focus {
  background-color: #404bbf;
}
.icon-item {
  width: 40px;
  height: 40px;
}
.icon-team {
  fill: #f4f4fd;
}
/* #endregion main-our-team */

/* #region main-our-portfolio */
.section {
  padding: 96px 0;
}

.portfolio {
  margin: 0 auto 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
  padding: 0;
  margin: 0;
}

.img-wrapper {
  position: relative;
  overflow: hidden;
}

.portfolio-item {
  max-width: 288px;
  /* width: calc((100% - 48px) / 1); */
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
  padding: 32px 16px;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 1157px) {
  .overlay-text {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .portfolio-item {
    max-width: 356px;
    width: calc((100% - 24px) / 2);
    box-shadow: none;
  }

  .portfolio-list {
    gap: 72px 24px;
  }
}
@media only screen and (min-width: 1158px) {
  .portfolio {
    padding-top: 120px;
  }
  .portfolio-item {
    max-width: 360px;
    width: calc((100% - 48px) / 3);
    box-shadow: none;
  }

  .portfolio-list {
    gap: 48px 24px;
  }

  .img-wrapper {
    position: relative;
    overflow: hidden;
  }
  .overlay-text {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    width: 100%;
    height: 100%;
    background: #4d5ae5;
    padding: 40px 32px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .portfolio-item:hover .overlay-text {
    transform: translateY(0%);
  }
  .portfolio-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }
}

.portfolio-title {
  margin-bottom: 8px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.portfolio-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}

/* #endregion main-our-portfolio*/

/* #region footer */

.footer {
  background: #2e2f42;
  padding: 96px 0;
}
.container-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 72px;
  text-align: center;
}

/* .container-text {
  margin-right: 120px;
} */
.container-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-text {
  display: flex;
  max-width: 288px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.footer-logo {
  display: block;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-bottom: 16px;
  margin: 0 auto 16px;
}

.logo-styles {
  color: #f4f4fd;
}

.social-media {
  margin: 0;
}

.subscribe-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 100%;
}
.subscribe-heading {
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.list-icon-links-footer {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.footer-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}
.icon-item-footer {
  width: 40px;
  height: 40px;
}
.icon-link-footer {
  height: 100%;
  width: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-link-footer:hover,
.icon-link-footer:focus {
  background-color: #31d0aa;
}

.icon-footer {
  fill: #f4f4fd;
}
/* #endregion footer  */
/* #region e-mail-input */

.e-mail-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 100%;
}
.form-field {
  display: flex;
  gap: 16px;
  flex-direction: column;
}
.form-label {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #fff;
}
.form-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 200%;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.form-input {
  background-color: transparent;
  padding-left: 16px;
  border: 1px solid #fff;
  border-radius: 4px;
  width: 288px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
}
.form-input:hover,
.form-input:focus,
.form-input:active {
  border-color: #31d0aa;
}
.form-button {
  display: inline-flex;
  border: none;
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  background: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  cursor: pointer;
}
.form-button:hover,
.form-button:focus,
.form-button:active {
  background: #31d0aa;
}
.icon-telegram {
  fill: #fff;
  margin-left: 16px;
}

@media only screen and (min-width: 768px) {
  .container-footer {
    padding-left: 108px;
    padding-right: 108px;
    gap: 72px 24px;
    flex-direction: row;
    align-items: baseline;
    justify-content: flex-start;
    text-align: left;
    flex-wrap: wrap;
  }
  .container-text {
    align-items: flex-start;
    width: 264px;
  }
  .footer-logo {
    display: inline-block;
  }
  .footer-text {
    width: 264px;
    margin-bottom: 0;
    margin: 0;
    text-align: left;
    align-items: flex-start;
  }
  .social-media {
    align-items: flex-start;
    justify-content: flex-start;
    margin: 0;
  }
  .list-icon-links-footer {
    justify-content: flex-start;
    gap: 16px;
  }
  .subscribe-wrap {
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    width: 453px;
  }
  .e-mail-input {
    flex-direction: row;
    align-items: center;
    gap: 24px;
    width: 453px;
  }
  .form-input {
    width: 264px;
  }
  .form-button {
    align-self: flex-start;
  }
  .form-button:hover,
  .form-button:focus {
    background-color: #404bbf;
  }
}

@media only screen and (min-width: 1158px) {
  .footer {
    padding: 100px 0;
  }
  .container-footer {
    padding-left: 15px;
    padding-right: 15px;
    gap: 0;
    align-items: baseline;
  }
  .footer-text {
    margin-bottom: 0;
  }
  .container-text {
    margin-right: 120px;
  }
  .subscribe-wrap {
    margin-left: auto;
  }
}
/* #region modal-overlay */
.modal-overlay {
  background: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  justify-content: center;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: #fcfcfc;
  border-radius: 4px;
  width: 288px;
  min-height: 584px;
  padding: 72px 16px 24px;

  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
}

.modal-bth {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  cursor: pointer;
  color: #2e2f42;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-bth {
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-bth:hover {
  background-color: #404bbf;
  border: none;
}

.modal-bth:focus {
  background-color: #404bbf;
  border: none;
  outline: none;
}

.modal-bth:hover .modal-close-bth {
  fill: #ffffff;
}

.modal-bth:focus .modal-close-bth {
  fill: #ffffff;
}

.modal-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.form {
  padding: 0;
}

.modal-form {
  margin-bottom: 8px;
  gap: 8px;
}
.modal-form-label {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.modal-form-wraper {
  position: relative;
  display: block;
  margin-bottom: 16px;
}
.modal-form-icon {
  fill: #2e2f42;
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input {
  width: 100%;
  height: 40px;
  padding-left: 38px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #2e2f42;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input:focus {
  border-color: #4d5ae5;
}
.modal-form-input:focus + .modal-form-icon {
  fill: #4d5ae5;
}

.modal-form-desc {
  display: block;
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 12px;
  line-height: 1.17;
  color: rgba(46, 47, 66, 0.4);
  letter-spacing: 0.04em;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-commit {
  margin-bottom: 16px;
}
.modal-form-desc::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}
.modal-form-desc:focus {
  border-color: #4d5ae5;
}
.modal-form-desc:hover {
  border-color: #4d5ae5;
}

.privacy-container {
  margin-bottom: 24px;
}

.visually-hidden {
}
.user-privacy {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: flex;
  align-items: flex-start;
  gap: 8px;
}
.custom-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  cursor: pointer;
  fill: transparent;
  background-color: transparent;
  margin: 0;
  flex-shrink: 0;
  align-self: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.custom-checkbox-icon {
  fill: transparent;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.blue {
  line-height: 1.3;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}
.checkbox:focus + .user-privacy .custom-checkbox {
  border-color: rgba(46, 47, 66, 0.4);
}

.checkbox:focus-visible + .user-privacy .custom-checkbox {
  border-color: rgba(46, 47, 66, 0.4);
}

.checkbox:focus + .user-privacy .custom-checkbox .custom-checkbox-icon {
  fill: transparent;
}
.checkbox:checked + .user-privacy .custom-checkbox {
  border: none;
  background-color: #404bbf;
  fill: #f4f4fd;
}
.checkbox:checked + .user-privacy .custom-checkbox .custom-checkbox-icon {
  fill: #f4f4fd;
}

.send-btn {
  padding: 16px 32px;
  margin-top: 24px;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  color: #fff;
  display: block;
  align-items: center;
  border: none;
  min-width: 169px;
  height: 56px;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.send-btn:focus,
.send-btn:hover {
  background-color: #404bbf;
}

@media only screen and (min-width: 768px) {
  .modal {
    width: 408px;
    padding: 72px 24px 24px;
  }
}
/* #endregion */
